.appLayout{
    height: 100vh;
    padding: 2.4rem;
    overscroll-behavior-y: none;
    display: flex;
    position: relative;
    background-color: #42484d;
    /* overflow-y: scroll; */
}

.sidebar{
    font-size: 2.5rem;
    position: absolute;
    top: 10%;
    left: 60%;
    cursor: pointer;
}